.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  background:
    radial-gradient(circle at top left, rgba(212, 175, 55, 0.12), transparent 30%),
    var(--navy);
}

.card {
  width: 100%;
  max-width: 48rem;
  padding: 4rem;
  border-radius: 3rem;
  background: var(--light-transparent);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-gold);
}

.nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.close {
  font-size: 2rem;
  color: var(--white);
}

.logo{
  width: 160px;
}

.header {
  margin-bottom: 3.2rem;
}

.badge {
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forgot {
  border: none;
  margin-top: 1.5rem;
  color: var(--white);
  display: flex;
  gap: 8px;
  font-weight: 200;
  text-decoration: underline;
  align-items: center;
  background: transparent;
}