.card {
    padding: 2rem;
    border-radius: var(--radius);
    background: var(--background);
    transition: var(--transition);
    position: relative;
}

.card:hover {
    transform: translateY(-0.3rem);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.company {
    color: var(--gold);
    font-weight: 700;
}

.count {
    color: var(--gray);
    font-size: 1.3rem;
}


.slug {
    color: var(--gray);
    width: 100%;
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 1.4rem;
}

.actions {
    padding-top: 1.5rem;
    border-top: 1px solid var(--white);
    align-items: end;
    display: flex;
    gap: 1rem;
}

.linkBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.linkLabel {
    font-size: 0.8rem;
    color: var(--gold);
    font-weight: 400;
    text-transform: uppercase;
}

.slug {
    color: var(--white);
    font-size: 0.9rem;
    word-break: break-all;
}

.confirmOverlay {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem;

    background: var(--light-transparent);
    backdrop-filter: blur(8px);

    border-radius: var(--radius);

    z-index: 30;
}

.confirmBox {
    width: 100%;
    max-width: 340px;

    padding: 1.6rem;

    border-radius: 1.4rem;

    background: rgba(238, 66, 66, 0.35);
    border: 2px solid var(--color-danger);

    box-shadow:
        0 20px 40px rgba(251, 145, 145, 0.35);

    animation: fadeUp .2s ease;
}

.confirmTitle {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.confirmText {
    margin-top: 0.6rem;

    color: rgba(255, 255, 255, .7);

    font-size: .92rem;
    line-height: 1.5;
}

.confirmActions {
    margin-top: 1.4rem;

    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px) scale(.96);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


@media (max-width: 601px) {
    .card {
        padding: 1.5rem;
        width: 89vw;
    }

    .header {
        align-items: flex-start;
    }

    .headerInfo {
        width: 50%;
    }

    .headerBadge {
        margin-top: -50px;
        transform: scale(0.8);
    }

    .actions {
        justify-content: end;
        align-items: end;
    }
    .linkBox{
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        gap: 1rem
    }
    .linkBox button{
        transform: scale(0.8);
        margin-left: -10px;
    }
}