
.footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;
    border-top: var(--border);
}

.footer img{
    width: 120px;
}

@media (max-width: 768px) {
    .footer{
        padding: 1rem 2rem;
    }
    .footer img{
    width: 80px;
}
}