.header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 120px;
    border-bottom: var(--border);
}

.logo img {
    width: 180px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.avatar {
    border: solid 3px var(--gold);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-transparent);
}

.navLink {
    color: var(--white);
    text-decoration: none;
    transition: var(--transition);
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}


.navLink:hover {
    color: var(--gold);
}

.actions {
    display: flex;
    gap: 40px;
}

.links{
    display: flex;
    gap: 40px;
    align-items: center;
}

@media (max-width: 608px) {
    .header {
        padding: 20px;
        justify-content: space-between;
    }

    .logo img {
        width: 150px;
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: scale(0.7);
    }
}