.timeline {
    position: relative;
    max-width: 1400px;
    z-index: 999;
    padding-top: 40px;
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
    z-index: 999;
    padding-top: 40px;
    margin: 0 auto;
    padding: 80px 20px;
}

.line {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;

    background:
        linear-gradient(to bottom,
            var(--gold),
            transparent);
}

.item {
    width: 50%;
    position: relative;
    margin-bottom: 40px;
}

.left {
    padding-right: 60px;
}

.right {
    margin-left: auto;

    padding-left: 60px;
}

.number {
    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    width: 58px;
    height: 58px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--navy);

    border: 3px solid var(--gold);

    color: var(--gold);

    font-size: 22px;
    font-weight: 700;

    z-index: 20;

    box-shadow:
        0 0 20px rgba(212, 175, 55, .25);
}

/* CARD ESQUERDA */
.left .number {
    right: -29px;
}

/* CARD DIREITA */
.right .number {
    left: -29px;
}

.start {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--navy);

    border: 3px solid var(--gold);

    color: var(--gold);

    font-size: 1.5rem;
    font-weight: 700;

    z-index: 30;

    box-shadow:
        0 0 30px rgba(212, 175, 55, .25);
}




@media (max-width: 1200px) {
    .timeline {
        padding: 40px;
    }
}

@media (max-width: 900px) {

    .timeline {
        padding: 30px;
        padding-top: 80PX;
    }

    .line {
        top: 0;
        transform: translateX(-50%);
        width: 4px;
        height: 100%;
    }

    .item {
        width: 90%;
        position: relative;
        margin-bottom: 40px;
    }

    .left {
        padding-right: 60px;
    }

    .right {
        margin-left: auto;

        padding-left: 60px;
    }
}


@media (max-width: 600px) {
    .item {
        width: 100%;
        position: relative;
        margin-bottom: 40px;
    }
}