.layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background);
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.glowTop {
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background: rgba(244, 228, 174, 0.3);
  filter: blur(10rem);
}

.glowBottom {
  position: absolute;
  z-index: -99999;
  bottom: -12rem;
  right: -12rem;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background: rgba(50, 63, 83, 0.2);
  filter: blur(10rem);
}

.content {
  position: relative;
  z-index: 1;
  flex: 1;
}