.button {
    border-radius: var(--radius);
    border: none;

    cursor: pointer;
    font-weight: 600;

    transition: var(--transition);
}

.button:hover {
    transform: translateY(-2px);
}

.primary {
    background: var(--gold);
    color: var(--night);
}
.dark{
    background-color: var(--night);
    color: var(--gold);
}
.secondary {
    background: transparent;
    border: 1px solid var(--gold);
    color: var(--gold);
}

.ghost {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}
.error {
    background: transparent;
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
}

.success {
    background: transparent;
    border: 1px solid var(--color-success);
    color: var(--color-success);
}

.warning {
    background: transparent;
    border: 1px solid var(--color-warning);
    color: var(--color-warning);
}
.sm {
    padding: 8px 16px;
}

.md {
    padding: 12px 18px;
}

.lg {
    padding: 14px 24px;
}

.xsm{
    padding: 5px 10px;
    font-size: 0.7rem;
    font-weight: 200;
}